.headLine {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.headLine svg {
  width: 430px;
}

.menus {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 1px solid #e2e2e2;
  border-bottom: 4px double black;
}

.menus button {
  border: none;
  background: none;
  margin: 5px;
}

.menus button:hover {
  background-color: aliceblue;
}

.newsImgSize {
  max-width: 100%;
  max-height: 250px;
}

.news {
  border-bottom: 2px solid black;
}
